<body>
  <header class="header"><strong>Beat your Friends</strong></header>
  <div class="password">
    <h1>Passwort ändern</h1>
    <p>
      <label for="password" >Neues Passwort</label><br>
      <input type="password" [(ngModel)]="passw.pass" required></p>
    <p><label for="passwortConfirm">Passwort bestätigen</label><br>
      <input type="password" [(ngModel)]="passw.confirm" required></p>
      <p><label for="EMail">E-Mail</label><br>
        <input type="email" [(ngModel)]="passw.email" required></p>
    <button type="submit" (click)="checkPassw()">Passwort update</button></div>

  <app-footer></app-footer>
</body>
