/* Application-wide Styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  font-size: 18px;
  margin: 0px;
  color: #444;
  margin-top: 80px;
  margin-bottom: 80px;
}

button {
  background-color: darkslategray;
  color: white;
  font-family: "Corbel";
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
    background-color: teal;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
  }

  .start {
    margin: 10px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  
  .start h1 {
    margin-bottom: -15px
  }