<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Made with Thimble</title>
  </head>
  <body>
    <header class="header"><strong>Beat your Friends</strong></header>
<div class="profil">
  <p><label for="firstname">Vorname</label><br>
    <input type="text" id="first" [(ngModel)]="shownUser.firstname" (change)="bStorage()"></p>
  <p><label for="lastname" id="last">Nachname</label><br>
    <input type="text"  [(ngModel)]="shownUser.lastname" (change)="bStorage()"></p>
  <p><label for="email" id="mail">Mail</label><br>
    <input type="email" [(ngModel)]="shownUser.email" (change)="bStorage()"></p>
  <button type="submit" (click)="update()">Profil update</button>
  <button type="reset" (click)="delete()">Profil löschen</button>
    </div><app-footer></app-footer>
  </body>
</html>

