<body>
  <header class="header"><strong>Beat your Friends</strong></header>
  <div class="points">
  <h1>Deine Spiele</h1>
  <table>
      <tr>
          <th>Spiel Nr.</th>
          <th>Meine Punkte</th>
          <th>Punkte Gegner</th>
          <th>Bereit zu spielen</th>
          <th>Runde</th>

        </tr>
    <tr *ngFor="let game of activeGames" (click) = "playGame(game.game_id, game.player1)" class="choose">
          <td>{{game.game_id}}</td>
          <td>{{game.player1points}}</td>
          <td>{{game.player2points}}</td>
          <td class="playableBox"></td> 
          <td>{{game.round}}</td>
    </tr>
  </table>

  </div>

  <app-footer></app-footer>
</body>
